/* RESETS */

body, h1, button, div {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

/* MAIN */

body {
  background-color: #f0f5f5;
}

h1 {
  width: calc(100vw - 40px);
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font: bold 5vw Helvetica;
  color: #099;
  background-color: white;
  border: 2px solid gray;
}

.button-wrap {
  margin: 0 20px;
}

/* clearfix */
.button-wrap::after {
  content: "";
  clear: both;
  display: table;
}

.tag-button {
  display: block;
  float: left;
  font: 3vw Helvetica;
  width: calc((100% / 3) - 13.4px);
  padding: 10px 0;
  background-color: white;
  border: 2px solid gray;
}

.tag-button.middle {
  margin: 0 20px;
}

.tag-button:hover {
  background-color: #eee;
}

.posts-container {
  margin: 20px;
  font: 20px Helvetica;
}
